# generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# required for non-vercel deployments, vercel uses OIDC automatically
# https://vercel.com/ai-gateway
AI_GATEWAY_API_KEY=****

# https://vercel.com/docs/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# https://vercel.com/docs/postgres
POSTGRES_URL=****

# https://vercel.com/docs/redis
REDIS_URL=****

# https://docs.convex.dev/auth/authkit
NEXT_PUBLIC_CONVEX_URL=****
CONVEX_DEPLOYMENT=****

# https://workos.com/docs/authkit/nextjs
WORKOS_CLIENT_ID=****
WORKOS_API_KEY=****
WORKOS_COOKIE_PASSWORD=****
NEXT_PUBLIC_WORKOS_REDIRECT_URI=http://localhost:3000/callback

# https://docs.browserbase.com/welcome/introduction
BROWSERBASE_API_KEY=****

# https://html2pptx.app
HTML2PPTX_API_KEY=****
